.header img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header h2 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
}