.main .project2 {
    margin: 0 auto;
    max-width: 300px;
}

.main .project2 .display {
    background-color: #aaa;
    height: 60px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    text-align: right;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 40px;
}

.main .project2 .btnMatrix {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}

.main .project2 .btn {
    background-color: #666;
    flex-basis: 25%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    cursor: pointer;
}

.main .project2 .btn.equal {
    /* background-color: #fff; */
    flex-basis: 50%;
}

.main .project2 h1 {
    text-align: center;
    padding-bottom: 20px;
}

.main .project2 p {
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
}